.main-chat
  .main-chat__group-info
    .main-chat__group-info__items
      .main-chat__group-info__items--name
        = @group.name
      .main-chat__group-info__items--members
        - @group.users.each do |user|
          = user.name
    .main-chat__group-info__edit
      =link_to edit_group_path(@group), class:'main-chat__group-info__edit-btn' do
        %span<>
        Edit
  .main-chat__message-list
    = render partial: 'message', collection: @messages

  .main-chat__message-send
    .main-chat__message-send__new
      = form_for [@group, @message] do |f|
        .main-chat__message-send__new__form
          = f.text_field :content, class: 'main-chat__message-send__new__form--text', placeholder: 'type a message'
          = f.label :image, class: 'main-chat__message-send__new__form--image' do
            = icon('far', 'image')
            = f.file_field :image, class: 'main-chat__message-send__new__form--image__input'
        = f.submit 'Send', class: 'main-chat__message-send__new__send-btn'